<div id="side-bar">
	<div id="start-over"><strong>×</strong></div>
	<img id="js-undo" src="<%= asset_path('undo.png') %>"/><br>
	<img id="js-redo" src="<%= asset_path('redo.png') %>"/><br>

	<div id="profile-holder"></div>

	<div id="switch-div"></div>
	<div id="done-div"></div>
	<!-- <img id="save-drawing" src="<%#= asset_path('save.png') %>"/> -->
</div>