<div class="modal-background">
  <div class="modal-main" id="profile-modal">
    <div id="profile">
      <img id="color" class="example-profile" src="<%= asset_path('color.png') %>"/>
      <p class="profile-text left">COLORING</p>

      <img id="trace" class="example-profile"src="<%= asset_path('trace.png') %>"/>
      <p class="profile-text right-image-text">TRACING</p>
    </div>
  </div>
</div>