<div id="header-div">
  <div class="left">
    <div id="about">
      <h2>iDraw</h2>
    </div>
  </div>
 
  <div class="right">
    <div class="search">
      <%= form_tag :controller => 'search', :action => 'create', :method => 'get' do %>
        <%= text_field_tag :keyword, params[:keyword], :id => 'search-field' %>
        <%= submit_tag "Search! ", :content => nil %> 
      <% end %> 
    </div>
  </div>
</div>

<table>
  <td>
    <div id="canvasDiv">
    </div>
  </td>

  <td >
    <div id="start-over">×</div>
    <div id="js-undo"><--</div>
    <div id="js-redo">--></div>
    <div id="remove-image">Done</div>
  </td>

  <td>
    <div id="cartoons-header"><h4>Choose Your Favorite</h4></div>
    <div id="all-cartoons">
      <% @cartoons.each do |cartoon| %>
        <div>
          <%= image_tag cartoon.image_url, class: "cartoon cartoon-#{cartoon.id}"%>
        </div>
      <% end %>
    </div>
  </td>

  <td>
    <div id="html5DIV">
      <input type="color" id="html5colorpicker" class="form-control" value="#ff0000">
    </div>
  </td>
</table>

<div class="modal-base" id="search-modal-base">
  <div class="modal-main" id="search-modal-main">
    <button id="close-modal">×</button>

    <label><h2>Choose Your Favorite!</h2></label>
    <div id="results-div">
    </div>
  </div>
</div>

<div class="modal-base" id="about-modal-base">
  <div class="modal-main" id="about-modal-main">
    <button id="close-modal">×</button>

    <label><h2>About</h2></label>
    <h4 class="modal-text">Kids can finally learn to draw your favorite cartoon character by tracing over them!</h4>
  </div>
</div>

<div id="footer">
  <div class="center">
    Made with <3 by <a href="http://people.flatironschool.com/profiles/jennifer-sardina">Jennifer Sardina</a>
  </div>
</div>