<div id="canvasDiv" style="height:600px;width:900px;border:1px;margin:auto"></div>

<div id="new-cartoon">
  <%= form_for(@cartoon) do |f| %>
    <%= f.text_field :name, placeholder: "Cartoon Name" %>
    <%= f.file_field :avatar %>
  <% end %>
</div>

<div id="all-cartoons">
  <% @cartoons.each do |cartoon| %>
    <div>
      <%= image_tag cartoon.avatar.url(:thumb), id: "cartoon-#{cartoon.id}" %>
    </div>
  <% end %>
</div>
<button id="remove-image"></button>