<div id="tray">
  <div id="colors">
    <%= render 'workspace/tools/color_buttons' %>
    <%= render 'workspace/tools/color_picker' %>
  </div>

  <div id="tools">
    <%= render 'workspace/tools/tips' %>
    <%= image_tag( 'eraser', {class: 'eraser'} ) %>
  </div>
</div>
