<div class="modal-base" id="about-modal-base">
  <div class="modal-main">
    <button class="close-modal">×</button>

    <table>
    	<tr>
    		<th class="modal-header">About</th>
    	</tr>

        <tbody class="modal-body">
        	<tr>
        		<td>
                    Drawing your favorite cartoon character is so easy with iDraw!<br><br>
            		
            		After you choose your profile (coloring/tracing), choose a character from the list and color away!<br><br>
                </td>
        	</tr>

            <tr>
                <td class="github-note">
                    This project is hosted on <a target="_blank" href="https://github.com/jmsardina/i-draw">GitHub</a>.  If you would like to contribute to it, feel free to create issues, leave comments, submit pull requests, etc.
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
