<div class="modal-base" id="about-modal-base">
  <div class="modal-main" id="about-modal-main">
    <button id="close-modal">×</button>

    <label class="modal-label"><h2>About</h2></label>
    <h4 class="modal-text">iDraw allows you to draw your favorite cartoon character by tracing over it.

    It's super simple! After you choose your profile (coloring/tracing), choose a cartoon character from the list, and color away.
    </h4>
  </div>
</div>