<div class="modal-base" id="search-modal-base">
  <div class="modal-main" id="search-modal-main">
    <button id="close-modal">×</button>

    <label class="modal-label"><h2>Choose Your Favorite!</h2></label>
    <div id="results-div"></div>
  </div>
</div>