<div class="modal-base" id="search-modal-base">
  <div class="modal-main">
    <button class="close-modal">×</button>

    <table>
    	<tr>
    		<th class="modal-header">Choose Your Favorite!</th>
    	</tr>
    	<tr class="modal-body">
		    <td><div id="results-div"></div></td>
    	</tr>
    </table>
    
  </div>
</div>