<div class="modal-base" id="profile-modal-base">
	<div class="modal-main" id="profile-modal">

		<table>
			<thead>
				<th class="modal-header">Choose Your Profile!</th>
			</thead>
		</table>

		<table>
			<tbody class="modal-body">
				<tr id="profiles-container">
					<td>
						<img class="profile large color-profile" src="<%= asset_path('color.png') %>"/>
					</td>
					<td>
						<img class="profile large trace-profile" src="<%= asset_path('trace.png') %>"/>
					</td>
				</tr>
				<tr>
					<td class="caption">Coloring</td>
					<td class="caption">Tracing</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>